body { /*Default*/
    --header-font: 'Times New Roman', Times, serif;
    --body-font: Verdana, Geneva, Tahoma, sans-serif;
}

/*Other settings. For the whole html use this class at <body>*/
.roboto-merriweather {
    --header-font:Merriweather, serif;
    --body-font: Roboto, sans-serif;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family:'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}