/*
    grid.css
    author: Xavier Sala Garcia;
    version: 0.1
    date: under constructon;
    description: Retícula de 12 columnes en flexbox inspirada en bootstrap.
*/
* {
    box-sizing: border-box;

}

.container,
.wrapper {
    width: 95%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    /*No paddings*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;    /*Primary axis */
    align-items: flex-start;        /*one line sec axis*/
    align-content: flex-start;      /*Several lines sec axis*/
}

.col {
    /*No paddings*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;    
    align-items: flex-start;        
    align-content: flex-start;      
}

.justify-content-flex-end {         /*       [   ][   ][   ]*/
    justify-content: flex-end;
}

.justify-content-flex-start {       /*[   ][   ][   ]       */
    justify-content: flex-start;
}

.justify-content-center {           /*    [   ][   ][   ]    */
    justify-content: center;
}

.justify-content-space-between {    /*[   ]    [   ]    [   ]*/
    justify-content: space-between;
}

.justify-content-space-around {     /* [   ]   [   ]   [   ] */
    justify-content: space-around;
}

.justify-content-space-evenly {     /*  [   ]  [   ]  [   ]  */
    justify-content: space-evenly;
}

.align-items-flex-end {             /*                        */
    align-items: flex-end;          /*                        */
}                                   /*   [   ]  [   ]  [   ]  */

.align-items-flex-start {           /*   [   ]  [   ]  [   ]  */
    align-items: flex-start;        /*                        */
}                                   /*                        */

.align-items-center {               /*                        */
    align-items: center;            /*   [   ]  [   ]  [   ]  */
}                                   /*                        */

.align-items-stretch {              /*   ┌   ┐  ┌   ┐  ┌   ┐  */ 
    align-items: stretch;           /*   |   |  |   |  |   |  */
}                                   /*   └   ┘  └   ┘  └   ┘  */

.align-items-baseline {             /*   [   ]  [   ]  [   ]  */
    align-items: baseline;          /*                        */
}                                   /*                        */

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-stretch {
    align-content: stretch;
}

.align-content-center {
    align-content: center;
}

.align-content-baseline {
    align-content: baseline;
}



/****Secondary axis****/

[class*=" col-"], [class^="col-"] { /*Every columns have padding!*/
    padding: 1rem;
    flex: 1 1 100%; /*default, columns adapt their size*/
    margin: 0; /*Default no margins for columns*/
}



/* The columns grow when there is remaining space*/
.flex-grow-1 {flex-grow: 1 !important;}
.flex-grow-2 {flex-grow: 2 !important;}

/* The column shrink when the whole columns are larger than container*/
.flex-shrink-1 {flex-shrink: 1 !important;}
.flex-shrink-2 {flex-shrink: 2 !important;}

.col-auto {flex: 0 0 auto;}
.col-1 {flex: 0 0 8.333%;}
.col-2 {flex: 0 0 16.667%;}
.col-3 {flex: 0 0 25%;}
.col-4 {flex: 0 0 33.333%;}
.col-5 {flex: 0 0 46.667%;}
.col-6 {flex: 0 0 50%;}
.col-7 {flex: 0 0 58.333%;}
.col-8 {flex: 0 0 66.667%;}
.col-9 {flex: 0 0 75%;}
.col-10 {flex: 0 0 83.333%;}
.col-11 {flex: 0 0 91.667%;}
.col-12 {flex: 0 0 100%;}

[class*=" shadowcol-"], [class^="shadowcol-"] { /*Every columns have padding!*/
    padding: 1rem;
    flex: 1 1 100%; /*default, columns adapt their size*/
    margin: 4px 5px 4px 3px; /*Default some margin, for the shadow*/
    box-shadow: 1px 1px 2px 2px  #7F7F7F;
    border-radius: 4px;
}

.shadowcol-1 {flex: 0 0 calc(8.333% - 8px);}
.shadowcol-2 {flex: 0 0 calc(16.667% - 8px);}
.shadowcol-3 {flex: 0 0 calc(25% - 8px);}
.shadowcol-4 {flex: 0 0 calc(33.333% - 8px);}
.shadowcol-5 {flex: 0 0 calc(46.667% - 8px);}
.shadowcol-6 {flex: 0 0 calc(50% - 8px);}
.shadowcol-7 {flex: 0 0 calc(58.333% - 8px);}
.shadowcol-8 {flex: 0 0 calc(66.667% - 8px);}
.shadowcol-9 {flex: 0 0 calc(75% - 8px);}
.shadowcol-10 {flex: 0 0 calc(83.333% - 8px);}
.shadowcol-11 {flex: 0 0 calc(91.667% - 8px);}
.shadowcol-12 {flex: 0 0 calc(100% - 8px);}

.order-1 {order: 1;}
.order-2 {order: 2;}
.order-3 {order: 3;}
.order-4 {order: 4;}
.order-5 {order: 5;}
.order-6 {order: 6;}
.order-7 {order: 7;}
.order-8 {order: 8;}
.order-9 {order: 9;}
.order-10 {order: 10;}
.order-11 {order: 11;}
.order-12 {order: 12;}



/*==========  Responsive: Mobile First Method  ==========*/

/* Extra small devices (phones, 600px and down) *//*xs*/
@media only screen and (max-width: 600px) {

    .col-xs-1 {flex: 0 0 8.337%;}
    .col-xs-2 {flex: 0 0 16.666%;}
    .col-xs-3 {flex: 0 0 25%;}
    .col-xs-4 {flex: 0 0 33.337%;}
    .col-xs-5 {flex: 0 0 46.666%;}
    .col-xs-6 {flex: 0 0 50%;}
    .col-xs-7 {flex: 0 0 58.337%;}
    .col-xs-8 {flex: 0 0 66.666%;}
    .col-xs-9 {flex: 0 0 75%;}
    .col-xs-10 {flex: 0 0 83.337%;}
    .col-xs-11 {flex: 0 0 91.666%;}
    .col-xs-12 {flex: 0 0 100%;}

    .shadowcol-xs-1 {flex: 0 0 calc(8.333% - 8px);}
    .shadowcol-xs-2 {flex: 0 0 calc(16.667% - 8px);}
    .shadowcol-xs-3 {flex: 0 0 calc(25% - 8px);}
    .shadowcol-xs-4 {flex: 0 0 calc(33.333% - 8px);}
    .shadowcol-xs-5 {flex: 0 0 calc(46.667% - 8px);}
    .shadowcol-xs-6 {flex: 0 0 calc(50% - 8px);}
    .shadowcol-xs-7 {flex: 0 0 calc(58.333% - 8px);}
    .shadowcol-xs-8 {flex: 0 0 calc(66.667% - 8px);}
    .shadowcol-xs-9 {flex: 0 0 calc(75% - 8px);}
    .shadowcol-xs-10 {flex: 0 0 calc(83.333% - 8px);}
    .shadowcol-xs-11 {flex: 0 0 calc(91.667% - 8px);}
    .shadowcol-xs-12 {flex: 0 0 calc(100% - 8px);}

    .order-xs-1 {order: 1;}
    .order-xs-2 {order: 2;}
    .order-xs-3 {order: 3;}
    .order-xs-4 {order: 4;}
    .order-xs-5 {order: 5;}
    .order-xs-6 {order: 6;}
    .order-xs-7 {order: 7;}
    .order-xs-8 {order: 8;}
    .order-xs-9 {order: 9;}
    .order-xs-10 {order: 10;}
    .order-xs-11 {order: 11;}
    .order-xs-12 {order: 12;}

    .justify-content-xs-flex-end{justify-content:flex-end;}
    .justify-content-xs-flex-start{justify-content:flex-start;}
    .justify-content-xs-center{justify-content:center;}
    .justify-content-xs-space-between{justify-content:space-between;}
    .justify-content-xs-space-around{justify-content:space-around;}
    .justify-content-xs-space-evenly{justify-content:space-evenly;}

    .align-items-xs-flex-start{align-items:flex-start;}
    .align-items-xs-flex-end{align-items:flex-end;}
    .align-items-xs-stretch{align-items:stretch;}
    .align-items-xs-center{align-items:center;}
    .align-items-xs-baseline{align-items:baseline;}

    .align-content-xs-flex-start{align-content:flex-start;}
    .align-content-xs-flex-end{align-content:flex-end;}
    .align-content-xs-stretch{align-content:stretch;}
    .align-content-xs-center{align-content:center;}
    .align-content-xs-baseline{align-content:baseline;}
}
/* Small devices (portrait tablets and large phones, 600px and up) *//*sm*/
@media only screen and (min-width: 600px) {

    .col-sm-1 {flex: 0 0 8.337%;}
    .col-sm-2 {flex: 0 0 16.666%;}
    .col-sm-3 {flex: 0 0 25%;}
    .col-sm-4 {flex: 0 0 33.337%;}
    .col-sm-5 {flex: 0 0 46.666%;}
    .col-sm-6 {flex: 0 0 50%;}
    .col-sm-7 {flex: 0 0 58.337%;}
    .col-sm-8 {flex: 0 0 66.666%;}
    .col-sm-9 {flex: 0 0 75%;}
    .col-sm-10 {flex: 0 0 83.337%;}
    .col-sm-11 {flex: 0 0 91.666%;}
    .col-sm-12 {flex: 0 0 100%;}

    .shadowcol-sm-1 {flex: 0 0 calc(8.333% - 8px);}
    .shadowcol-sm-2 {flex: 0 0 calc(16.667% - 8px);}
    .shadowcol-sm-3 {flex: 0 0 calc(25% - 8px);}
    .shadowcol-sm-4 {flex: 0 0 calc(33.333% - 8px);}
    .shadowcol-sm-5 {flex: 0 0 calc(46.667% - 8px);}
    .shadowcol-sm-6 {flex: 0 0 calc(50% - 8px);}
    .shadowcol-sm-7 {flex: 0 0 calc(58.333% - 8px);}
    .shadowcol-sm-8 {flex: 0 0 calc(66.667% - 8px);}
    .shadowcol-sm-9 {flex: 0 0 calc(75% - 8px);}
    .shadowcol-sm-10 {flex: 0 0 calc(83.333% - 8px);}
    .shadowcol-sm-11 {flex: 0 0 calc(91.667% - 8px);}
    .shadowcol-sm-12 {flex: 0 0 calc(100% - 8px);}

    .order-sm-1 {order: 1;}
    .order-sm-2 {order: 2;}
    .order-sm-3 {order: 3;}
    .order-sm-4 {order: 4;}
    .order-sm-5 {order: 5;}
    .order-sm-6 {order: 6;}
    .order-sm-7 {order: 7;}
    .order-sm-8 {order: 8;}
    .order-sm-9 {order: 9;}
    .order-sm-10 {order: 10;}
    .order-sm-11 {order: 11;}
    .order-sm-12 {order: 12;}

    .justify-content-sm-flex-end{justify-content:flex-end;}
    .justify-content-sm-flex-start{justify-content:flex-start;}
    .justify-content-sm-center{justify-content:center;}
    .justify-content-sm-space-between{justify-content:space-between;}
    .justify-content-sm-space-around{justify-content:space-around;}
    .justify-content-sm-space-evenly{justify-content:space-evenly;}

    .align-items-sm-flex-start{align-items:flex-start;}
    .align-items-sm-flex-end{align-items:flex-end;}
    .align-items-sm-stretch{align-items:stretch;}
    .align-items-sm-center{align-items:center;}
    .align-items-sm-baseline{align-items:baseline;}

    .align-content-sm-flex-start{align-content:flex-start;}
    .align-content-sm-flex-end{align-content:flex-end;}
    .align-content-sm-stretch{align-content:stretch;}
    .align-content-sm-center{align-content:center;}
    .align-content-sm-baseline{align-content:baseline;}
}
/* Medium devices (landscape tablets, 768px and up) *//*md*/
@media only screen and (min-width: 768px) {

    .col-md-1 {flex: 0 0 8.337%;}
    .col-md-2 {flex: 0 0 16.666%;}
    .col-md-3 {flex: 0 0 25%;}
    .col-md-4 {flex: 0 0 33.337%;}
    .col-md-5 {flex: 0 0 46.666%;}
    .col-md-6 {flex: 0 0 50%;}
    .col-md-7 {flex: 0 0 58.337%;}
    .col-md-8 {flex: 0 0 66.666%;}
    .col-md-9 {flex: 0 0 75%;}
    .col-md-10 {flex: 0 0 83.337%;}
    .col-md-11 {flex: 0 0 91.666%;}
    .col-md-12 {flex: 0 0 100%;}

    .shadowcol-md-1 {flex: 0 0 calc(8.333% - 8px);}
    .shadowcol-md-2 {flex: 0 0 calc(16.667% - 8px);}
    .shadowcol-md-3 {flex: 0 0 calc(25% - 8px);}
    .shadowcol-md-4 {flex: 0 0 calc(33.333% - 8px);}
    .shadowcol-md-5 {flex: 0 0 calc(46.667% - 8px);}
    .shadowcol-md-6 {flex: 0 0 calc(50% - 8px);}
    .shadowcol-md-7 {flex: 0 0 calc(58.333% - 8px);}
    .shadowcol-md-8 {flex: 0 0 calc(66.667% - 8px);}
    .shadowcol-md-9 {flex: 0 0 calc(75% - 8px);}
    .shadowcol-md-10 {flex: 0 0 calc(83.333% - 8px);}
    .shadowcol-md-11 {flex: 0 0 calc(91.667% - 8px);}
    .shadowcol-md-12 {flex: 0 0 calc(100% - 8px);}

    .order-md-1 {order: 1;}
    .order-md-2 {order: 2;}
    .order-md-3 {order: 3;}
    .order-md-4 {order: 4;}
    .order-md-5 {order: 5;}
    .order-md-6 {order: 6;}
    .order-md-7 {order: 7;}
    .order-md-8 {order: 8;}
    .order-md-9 {order: 9;}
    .order-md-10 {order: 10;}
    .order-md-11 {order: 11;}
    .order-md-12 {order: 12;}

    .justify-content-md-flex-end{justify-content:flex-end;}
    .justify-content-md-flex-start{justify-content:flex-start;}
    .justify-content-md-center{justify-content:center;}
    .justify-content-md-space-between{justify-content:space-between;}
    .justify-content-md-space-around{justify-content:space-around;}
    .justify-content-md-space-evenly{justify-content:space-evenly;}

    .align-items-md-flex-start{align-items:flex-start;}
    .align-items-md-flex-end{align-items:flex-end;}
    .align-items-md-stretch{align-items:stretch;}
    .align-items-md-center{align-items:center;}
    .align-items-md-baseline{align-items:baseline;}

    .align-content-md-flex-start{align-content:flex-start;}
    .align-content-md-flex-end{align-content:flex-end;}
    .align-content-md-stretch{align-content:stretch;}
    .align-content-md-center{align-content:center;}
    .align-content-md-baseline{align-content:baseline;}
}
/* Large devices (laptops/desktops, 992px and up) *//*lg*/
@media only screen and (min-width: 992px) {

    .col-lg-1 {flex: 0 0 8.337%;}
    .col-lg-2 {flex: 0 0 16.666%;}
    .col-lg-3 {flex: 0 0 25%;}
    .col-lg-4 {flex: 0 0 33.337%;}
    .col-lg-5 {flex: 0 0 46.666%;}
    .col-lg-6 {flex: 0 0 50%;}
    .col-lg-7 {flex: 0 0 58.337%;}
    .col-lg-8 {flex: 0 0 66.666%;}
    .col-lg-9 {flex: 0 0 75%;}
    .col-lg-10 {flex: 0 0 83.337%;}
    .col-lg-11 {flex: 0 0 91.666%;}
    .col-lg-12 {flex: 0 0 100%;}

    .shadowcol-lg-1 {flex: 0 0 calc(8.333% - 8px);}
    .shadowcol-lg-2 {flex: 0 0 calc(16.667% - 8px);}
    .shadowcol-lg-3 {flex: 0 0 calc(25% - 8px);}
    .shadowcol-lg-4 {flex: 0 0 calc(33.333% - 8px);}
    .shadowcol-lg-5 {flex: 0 0 calc(46.667% - 8px);}
    .shadowcol-lg-6 {flex: 0 0 calc(50% - 8px);}
    .shadowcol-lg-7 {flex: 0 0 calc(58.333% - 8px);}
    .shadowcol-lg-8 {flex: 0 0 calc(66.667% - 8px);}
    .shadowcol-lg-9 {flex: 0 0 calc(75% - 8px);}
    .shadowcol-lg-10 {flex: 0 0 calc(83.333% - 8px);}
    .shadowcol-lg-11 {flex: 0 0 calc(91.667% - 8px);}
    .shadowcol-lg-12 {flex: 0 0 calc(100% - 8px);}

    .order-lg-1 {order: 1;}
    .order-lg-2 {order: 2;}
    .order-lg-3 {order: 3;}
    .order-lg-4 {order: 4;}
    .order-lg-5 {order: 5;}
    .order-lg-6 {order: 6;}
    .order-lg-7 {order: 7;}
    .order-lg-8 {order: 8;}
    .order-lg-9 {order: 9;}
    .order-lg-10 {order: 10;}
    .order-lg-11 {order: 11;}
    .order-lg-12 {order: 12;}

    .justify-content-lg-flex-end{justify-content:flex-end;}
    .justify-content-lg-flex-start{justify-content:flex-start;}
    .justify-content-lg-center{justify-content:center;}
    .justify-content-lg-space-between{justify-content:space-between;}
    .justify-content-lg-space-around{justify-content:space-around;}
    .justify-content-lg-space-evenly{justify-content:space-evenly;}

    .align-items-lg-flex-start{align-items:flex-start;}
    .align-items-lg-flex-end{align-items:flex-end;}
    .align-items-lg-stretch{align-items:stretch;}
    .align-items-lg-center{align-items:center;}
    .align-items-lg-baseline{align-items:baseline;}

    .align-content-lg-flex-start{align-content:flex-start;}
    .align-content-lg-flex-end{align-content:flex-end;}
    .align-content-lg-stretch{align-content:stretch;}
    .align-content-lg-center{align-content:center;}
    .align-content-lg-baseline{align-content:baseline;}
}
/* Extra large devices (large laptops and desktops, 1200px and up) *//*xl*/
@media only screen and (min-width: 1200px) {

    .col-xl-1 {flex: 0 0 8.337%;}
    .col-xl-2 {flex: 0 0 16.666%;}
    .col-xl-3 {flex: 0 0 25%;}
    .col-xl-4 {flex: 0 0 33.337%;}
    .col-xl-5 {flex: 0 0 46.666%;}
    .col-xl-6 {flex: 0 0 50%;}
    .col-xl-7 {flex: 0 0 58.337%;}
    .col-xl-8 {flex: 0 0 66.666%;}
    .col-xl-9 {flex: 0 0 75%;}
    .col-xl-10 {flex: 0 0 83.337%;}
    .col-xl-11 {flex: 0 0 91.666%;}
    .col-xl-12 {flex: 0 0 100%;}

    .shadowcol-xl-1 {flex: 0 0 calc(8.333% - 8px);}
    .shadowcol-xl-2 {flex: 0 0 calc(16.667% - 8px);}
    .shadowcol-xl-3 {flex: 0 0 calc(25% - 8px);}
    .shadowcol-xl-4 {flex: 0 0 calc(33.333% - 8px);}
    .shadowcol-xl-5 {flex: 0 0 calc(46.667% - 8px);}
    .shadowcol-xl-6 {flex: 0 0 calc(50% - 8px);}
    .shadowcol-xl-7 {flex: 0 0 calc(58.333% - 8px);}
    .shadowcol-xl-8 {flex: 0 0 calc(66.667% - 8px);}
    .shadowcol-xl-9 {flex: 0 0 calc(75% - 8px);}
    .shadowcol-xl-10 {flex: 0 0 calc(83.333% - 8px);}
    .shadowcol-xl-11 {flex: 0 0 calc(91.667% - 8px);}
    .shadowcol-xl-12 {flex: 0 0 calc(100% - 8px);}

    .order-xl-1 {order: 1;}
    .order-xl-2 {order: 2;}
    .order-xl-3 {order: 3;}
    .order-xl-4 {order: 4;}
    .order-xl-5 {order: 5;}
    .order-xl-6 {order: 6;}
    .order-xl-7 {order: 7;}
    .order-xl-8 {order: 8;}
    .order-xl-9 {order: 9;}
    .order-xl-10 {order: 10;}
    .order-xl-11 {order: 11;}
    .order-xl-12 {order: 12;}

    .justify-content-xl-flex-end{justify-content:flex-end;}
    .justify-content-xl-flex-start{justify-content:flex-start;}
    .justify-content-xl-center{justify-content:center;}
    .justify-content-xl-space-between{justify-content:space-between;}
    .justify-content-xl-space-around{justify-content:space-around;}
    .justify-content-xl-space-evenly{justify-content:space-evenly;}

    .align-items-xl-flex-start{align-items:flex-start;}
    .align-items-xl-flex-end{align-items:flex-end;}
    .align-items-xl-stretch{align-items:stretch;}
    .align-items-xl-center{align-items:center;}
    .align-items-xl-baseline{align-items:baseline;}

    .align-content-xl-flex-start{align-content:flex-start;}
    .align-content-xl-flex-end{align-content:flex-end;}
    .align-content-xl-stretch{align-content:stretch;}
    .align-content-xl-center{align-content:center;}
    .align-content-xl-baseline{align-content:baseline;}
}
/* Extra Extra large devices (large laptops and desktops, 1200px and up) *//*xxl*/
@media only screen and (min-width: 1400px) {

    .col-xxl-1 {flex: 0 0 8.337%;}
    .col-xxl-2 {flex: 0 0 16.666%;}
    .col-xxl-3 {flex: 0 0 25%;}
    .col-xxl-4 {flex: 0 0 33.337%;}
    .col-xxl-5 {flex: 0 0 46.666%;}
    .col-xxl-6 {flex: 0 0 50%;}
    .col-xxl-7 {flex: 0 0 58.337%;}
    .col-xxl-8 {flex: 0 0 66.666%;}
    .col-xxl-9 {flex: 0 0 75%;}
    .col-xxl-10 {flex: 0 0 83.337%;}
    .col-xxl-11 {flex: 0 0 91.666%;}
    .col-xxl-12 {flex: 0 0 100%;}

    .shadowcol-xxl-1 {flex: 0 0 calc(8.333% - 8px);}
    .shadowcol-xxl-2 {flex: 0 0 calc(16.667% - 8px);}
    .shadowcol-xxl-3 {flex: 0 0 calc(25% - 8px);}
    .shadowcol-xxl-4 {flex: 0 0 calc(33.333% - 8px);}
    .shadowcol-xxl-5 {flex: 0 0 calc(46.667% - 8px);}
    .shadowcol-xxl-6 {flex: 0 0 calc(50% - 8px);}
    .shadowcol-xxl-7 {flex: 0 0 calc(58.333% - 8px);}
    .shadowcol-xxl-8 {flex: 0 0 calc(66.667% - 8px);}
    .shadowcol-xxl-9 {flex: 0 0 calc(75% - 8px);}
    .shadowcol-xxl-10 {flex: 0 0 calc(83.333% - 8px);}
    .shadowcol-xxl-11 {flex: 0 0 calc(91.667% - 8px);}
    .shadowcol-xxl-12 {flex: 0 0 calc(100% - 8px);}

    .order-xxl-1 {order: 1;}
    .order-xxl-2 {order: 2;}
    .order-xxl-3 {order: 3;}
    .order-xxl-4 {order: 4;}
    .order-xxl-5 {order: 5;}
    .order-xxl-6 {order: 6;}
    .order-xxl-7 {order: 7;}
    .order-xxl-8 {order: 8;}
    .order-xxl-9 {order: 9;}
    .order-xxl-10 {order: 10;}
    .order-xxl-11 {order: 11;}
    .order-xxl-12 {order: 12;}

    .justify-content-xxl-flex-end{justify-content:flex-end;}
    .justify-content-xxl-flex-start{justify-content:flex-start;}
    .justify-content-xxl-center{justify-content:center;}
    .justify-content-xxl-space-between{justify-content:space-between;}
    .justify-content-xxl-space-around{justify-content:space-around;}
    .justify-content-xxl-space-evenly{justify-content:space-evenly;}

    .align-items-xxl-flex-start{align-items:flex-start;}
    .align-items-xxl-flex-end{align-items:flex-end;}
    .align-items-xxl-stretch{align-items:stretch;}
    .align-items-xxl-center{align-items:center;}
    .align-items-xxl-baseline{align-items:baseline;}

    .align-content-xxl-flex-start{align-content:flex-start;}
    .align-content-xxl-flex-end{align-content:flex-end;}
    .align-content-xxl-stretch{align-content:stretch;}
    .align-content-xxl-center{align-content:center;}
    .align-content-xxl-baseline{align-content:baseline;}
}